.adalyst-app{
  .welcome-banner {
    color: rgb(211, 211, 211);

    @media(max-width: 769px) {
      h1 {
        font-size: x-large;
      }
      h5 {
        font-size: medium;
      }
    }
  }

  .about-the-platform {
    .info-tile {
      width: 350px;
      height: 450px;
      margin: 10px;
      color: white;
      background-image: linear-gradient(to bottom, #3083d0 0%, #330867 100%);


      border-radius: 50px;

      @media(max-width: 769px) {
        height: 350px;
      }

      .tile-content {
        padding: 30px;
        left: 0;
        right: 0;
        position: absolute;
      }

      .bg-image {
        border-radius: 50px;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 50%;
      }

      .nft-hub {
        background: white url("../assets/effect.gif") no-repeat center;
      }

      .creative {
        background: white url("../assets/creativ.gif") no-repeat center;
      }

      .launchpad {
        background: white url("../assets/connect.gif") no-repeat center;
      }

      .lighthouse {
        background: white url("../assets/stream.gif") no-repeat center;
      }
    }
  }

  .live-auctions {
    h3 {
      color: rgb(211, 211, 211);
    }
    .info-tile {
      width: 350px;
      height: 300px;
      margin: 10px;
      color: white;
      background-image: linear-gradient(to bottom, #3083d0 0%, #330867 100%);


      border-radius: 50px;

      @media(max-width: 769px) {
        height: 350px;
      }

      .tile-content {
        padding: 30px;
        left: 0;
        right: 0;
        position: absolute;
      }
    }
  }
}
