<div class="adalyst-app container-fluid">
  <adalyst-menu></adalyst-menu>

  <section class="welcome-banner container d-flex flex-column align-items-center justify-content-center my-5">
    <h1>A Cardano NFT marketplace</h1>
    <h5>Buy, sell and discover NFT items.</h5>
    <div class="d-flex flex-row align-items-center justify-content-center my-2 my-md-2">
      <button type="button" class="btn btn-primary btn-grad">Explore</button>
      <button type="button" class="btn btn-secondary-outline ml-3 ml-md-4">Create</button>
    </div>
  </section>

  <section class="about-the-platform container my-5">
    <!-- <h3>The platform</h3> -->
    <div class="row">
      <div class="col-sm-4 col-md info-tile">
        <div class="bg-image nft-hub">
        </div>
        <div class="tile-content">
          <h5>NFT HUB ON THE CARDANO BLOCKCHAIN</h5>
          <p class="mt-3">We bring together artists, geeks, collectors, and exclusive partners, all to improve Cardano mass adoption and community networking.</p>
          <button type="button" class="btn btn-outline-light btn-grad">About us</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">
        <div class="bg-image creative">
        </div>
        <div class="tile-content">
          <h5>CREATIVE SUPER LEAGUE</h5>
          <p class="mt-3">Our Creators are passionate artists expressing the beauty of the world, with us they can focus on their creations, delegating any organizational, promotion, and sales tasks on our shoulders.</p>
          <button type="button" class="btn btn-outline-light btn-grad">Discover creators</button>
          <button type="button" class="btn btn-outline-light btn-grad mt-2">Become a partner</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">
        <div class="bg-image launchpad">
        </div>
        <div class="tile-content">
          <h5>LAUNCHPAD AND THE HOMEBASE</h5>
          <p class="mt-3">Launch your project, discover the network, connect with the market. Making part of the Cardano NFT Community was never so comfortable and easy before.</p>
          <button type="button" class="btn btn-outline-light btn-grad">Welcome home</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">
        <div class="bg-image lighthouse">
        </div>
        <div class="tile-content">
          <h5>LIGHTHOUSE FOR THE CNFT OCEAN</h5>
          <p class="mt-3">We take care of collecting every valuable stream of information out there and navigate you comfy through the ocean of updates, news, and events.</p>
          <button type="button" class="btn btn-outline-light btn-grad">Discover NET</button>
        </div>
      </div>
    </div>
  </section>

  <section class="live-auctions container my-5">
    <h3 class="mb-3">Live Auctions</h3>
    <div class="row">
      <div class="col-sm-4 col-md info-tile">

        <div class="tile-content">
          <h5>Collection name</h5>
          <p class="mt-3">by artist name</p>
          <button type="button" class="btn btn-outline-light btn-grad">Place a bid</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">

        <div class="tile-content">
          <h5>Collection name</h5>
          <p class="mt-3">by artist name</p>
          <button type="button" class="btn btn-outline-light btn-grad">Place a bid</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">

        <div class="tile-content">
          <h5>Collection name</h5>
          <p class="mt-3">by artist name</p>
          <button type="button" class="btn btn-outline-light btn-grad">Place a bid</button>
        </div>
      </div>

      <div class="col-sm-4 col-md info-tile">

        <div class="tile-content">
          <h5>Collection name</h5>
          <p class="mt-3">by artist name</p>
          <button type="button" class="btn btn-outline-light btn-grad">Place a bid</button>
        </div>
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
</div>
