/* You can add global styles to this file, and also import other style files */
body {
  background-color: #121212 !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.btn {
  border-radius: 50px !important;
  color: white;
  padding: 8px 27px;
  transition: 0.3s;
  min-width: 100px;
  background-size: 200% auto;
  box-shadow: rgba(255, 255, 255, 0.08) 0px 4px 12px;
}
.btn:hover {
  color: rgb(209, 209, 209);
  background-position: right center; /* change the direction of the change here */
}
.btn-primary {
  background-image: linear-gradient(to right, #3083d0 0%, #330867 100%);
  display: block;
  border: none;
  padding: 12px 27px;
}

.btn-secondary-outline {
  background:
  linear-gradient(#121212,#121212) padding-box, /*this is your grey background*/
  linear-gradient(to right, #3083d0 0%, #330867 100%) border-box;
  border: 4px solid transparent;
  display: inline-block;
  background-size: 200% auto;
}
